div.container-fluid{
  transform: scale(.8,.8) translate(-75px,-150px);
}

@media screen and (max-width: 767px){
  div.container-fluid{
    transform: none;
  }
}

td a {
  color: black;
  display: block;
  width: 100;
  height: 100;
}

.holiday{
  background-color: rgb(197, 197, 197);
}