<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-default">
      <a routerLink ="/" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul *ngIf="authService.isAuthenticated()" class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/schedule">Schedule</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/schools">Schools</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li 
          *ngIf="authService.userType == 'main'" 
          class="dropdown" 
          appDropdown>
          <a 
            style="cursor: pointer;" 
            class="dropdown-toggle" 
            role="button"
            >ALTs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let alt of alts">
              <a style="cursor: pointer;" (click)="onUserChange(alt)">{{alt}}</a>
            </li>
          </ul>
        </li>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li>
            <a routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li>
          <a 
            style="cursor: pointer;" 
            (click)="onLogout()"
            *ngIf="authService.isAuthenticated()"
          >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>